<!DOCTYPE html>
<html>
<head>
    <title>Todo APP</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/todo.js"></script>
</head>

<body>
<div id="root">
    <div class="note-input">
        <div class="ni-header">
            <input type="text" placeholder="Title">
        </div>
        <div class="ni-body">
            <textarea placeholder="Enter Your Text..." rows="1"></textarea>
            <div class="checkbox-div">
                <input type="checkbox" checked>
            </div>
        </div>
    </div>
</div>
</body>
</html>
