body {
    background-color: #202124;
}

#root {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.note-input {
    background-color: #202124;
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 3);

    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-bottom: 1.2rem;
    margin-bottom: 1.2rem;

    border-style: solid;
    border-color: #5f6368;
    border-width: 1px;
    border-radius: 0.625rem;
}

.note-input:hover {
    cursor: text;
}

.note-input input[type=text] {
    height: 3.125rem;

    color: #80868b;
    background-color: #202124;
    font-weight: bold;
    font-size: 1rem;

    width: 100%;
    border: none;
    outline: none 0
}

textarea {
    color: #80868b;
    background-color: #202124;
    font-weight: bold;
    font-size: 1rem;

    width: 100%;
    border: none;
    overflow: hidden;
    resize: none;
}

.note-input input[type=text]:focus, textarea:focus {
    border: none;
    outline: none 0;
}

input[type=checkbox] {
    filter: invert(1);
}

.note-input input[type="checkbox"] {
    transform: scale(1.78);
    pointer-events: none;
}

.note-input .checkbox-div {
    display: block;
    padding: 1rem;
}

.note-input .checkbox-div:hover {
    border-radius: 3rem;
    background-color: #313236;
    cursor: pointer;
}


.ni-body {
    display: flex;
    flex-direction: row;
}

.todo-item-list {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.todo-item-block {
    width: 15rem;

    border-style: solid;
    border-color: #5f6368;
    border-width: 1px;
    border-radius: 0.625rem;

    padding: 0.833rem;
    margin: 0.625rem;
}

.todo-item-title {
    color: #e8eaed;
    font-weight: bold;
}

.todo-item-body-list, .todo-item-body-text {
    padding-top: 1rem;
}

.todo-item {
    display: flex;
    flex-direction: row;
    padding-top: 0.625rem;
}

.todo-item > label {
    color: #e8eaed;
    padding-left: 0.625rem;
}

.divider {
    color: #5555
}